@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  background: #FF7200; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, FF7200, #8DC26F);
  background: -moz-linear-gradient(right, #FF7200, #FF9933);
  background: -o-linear-gradient(right, #FF7200, #FF9933);
  background: linear-gradient(to left, #FF7200, #FF9933);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
#titulo {
	font-size: calc(1.8em + 2.0vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 2rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}
#bioUser {
	font-size: 20px;
	color: white;

}
#fotoUser{
	width: "200";
	height: "200";
}
#listaSolicitacoes{
	color: white;
	font-size: 15px;
}
#headerLista{
	color: white;
	font-size: 25px;
}
#colunaButao1{
	margin-top: 50px;
	margin-bottom: 30px;
}
#colunaButao2{
	margin-top: 50px;
	margin-bottom: 30px;
}
#colunaButao3{
	margin-top: 50px;
	margin-bottom: 30px;
}